/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'navidad';
    src: url(../fuentes/Red\ Christmas\ -\ Personal\ Use.otf);
}
/*Fin fuentes*/

.maincontainer{
    z-index: -1;
}

/*Header*/
header{
    background-color: white;
    height: 76px;
    width: 100%;
    margin-bottom: 30px;
}

#cabecera{
    height: 113px;
}

#cabecera img{
    float: left;
    height: 76px;
}


#cabecera h1{
    margin: 0;
    margin: 0 auto;
    float: left;
    width: fit-content;
    font-family: "Roboto";
    letter-spacing: 2px;
    font-size: 2em;
    margin-top: 18px;
    color: #006293;
    font-weight: bold;
    padding-left: 3%;
}

/*main*/

main{
    height: fit-content;
}

#contenedor{
    display: inline-block;
}

main h1{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: "navidad";
    letter-spacing: 20px;
    font-size: 8em;
    padding-top: 60px;
    color: #FAE404;
    position: absolute;
}

/*Zona central*/
#central{
    height: 750px;
    width: 65%;
    position: absolute;
    margin-left: 17.5%;
    padding-top: 160px;
}
/*Libro*/
#central img{
    width: 100%;
    height: 730px;
    z-index: 0;
}

#pagIzquierda, #pagDerecha{
    width: 40%;
    height: 680px;
    position: absolute;
    margin-top: 20px;
    border: 1px solid #FAE404;
    border-radius: 4px;
}

#pagIzquierda{
    margin-left: 8%;
}

#pagDerecha{
    margin-left: 54%;
}

#pagDerecha div{
    position: relative;
}

#asha img, #parti img, #cam img, #destor img, #robot img{
    height: auto;
}

#asha{
    width: 40% ;
    left: 35% ;
    top: 35% ;
}

#parti{
    width: 12% ;
    left: 10%;
    bottom: 40%;
}

#cam{
    width: 20%;
    left: 75%;
    bottom: 26%;
}

#destor {
    width: 15% ;
    left: 75%;
    top: 15%;
}

#robot{
    width: 35%;
    left: 2%;
    bottom: 28%;
}

/*Esquinas*/
#marco div{
    position: relative;
    float: left;
    width: 27%;
    height: 500px;
}

#marco div img{
    width: 100%;
}

#sDerecha, #iDerecha{
    margin-left: 46%;
}


/*Footer*/
footer{
    background-color: #006293;
    height: 55px;
    width: 100%;
    margin-top: 134px;
    color: white;
    text-align: center;
}

footer div {
    width: 2%;
    height: 38px;
    position: relative;
}

#face{
    left: 84%;
    bottom: 59%;
}

#twi{
    left: 87%;
    bottom: 128%;
}

#insta{
    left: 90%;
    bottom: 197%;
}

footer div img {
    width: 100%;
}

span{
    display: inline-block;
    margin-top: 18px;
}

/*Media querys*/

/*primera media*/
@media (min-width: 1650px) and (max-width:1900px){

    #contenedor{
        height: 1142px;
    }

    #marco div{
        position: relative;
        float: left;
        width: 27%;
        height: 600px;
    }

    #asha{
        width: 40%;
        top: 27%
    }

    #parti{
        bottom: 31%;
    }

    #cam{
        bottom: 21%;
    }

    #destor{
        top: 35%;
    }

    #robot{
        width: 40%;
        top: 0;
    }

    footer{
        margin-top: 0px;
    }

    #face{
        bottom: 51% !important;
    }
    
    #twi{
        bottom: 118% !important;
    }
    
    #insta{
        bottom: 187% !important;
    }
}

/*segunda media*/
@media (min-width:1400px) and (max-width: 1600px){

    #cabecera h1{
        font-size: 2em;
        padding-top: 10px;
    }

    main{
        padding-top: 20px;
    }

    main h1{
        font-size: 5em;
    }

    #contenedor{
        height: 820px;
    }
    
    #marco div{
        width: 31%;
        height: 390px;
    }

    #sDerecha, #iDerecha{
        margin-left: 37%;
    }

    #central{
        width: 64%;
        height: 790px;
        padding-top: 150px;
    }

    #central img{
        height: 550px;
    }

    #central div img{
        height: auto;
    }

    #pagIzquierda, #pagDerecha{
        height: 500px;
    }

    

    #asha{
        width: 45%;
        left: 32%;
        top: 20%;
    }

    #asha img{
        height: 120px;
    }

    #parti{
        bottom: 40%;
    }

    #cam{
        bottom: 30%;
    }

    #robot{
        bottom: 18%;
        width: 40%;
    }

    #destor{
        top: 23%;
    }

    footer{
        margin-top: 75px;
    }

    #face{
        bottom: 47%;
    }
    
    #twi{
        bottom: 114%;
    }
    
    #insta{
        bottom: 183%;
    }

}

/*tercera media*/
@media (min-width: 360px) and (max-width: 411px){

    header{
        height: 45px;
    }

    #cabecera h1{
        font-size: 12px;
        text-transform: uppercase;
        padding-top: 10px;
    }
    
    #cabecera img{
        height: 45px;
    }

    main h1{
        letter-spacing: 3px;
        font-size: 45px;
        padding-top: 14px;
    }

    #contenedor{
        height: 506px;
    }

    #marco div{
        height: 360px;
    }

    #central{
        padding-top: 60px;
        margin-left: 6.5%;
        width: 87%;
    }

    #central img{
        height: 360px;
    }

    #pagIzquierda, #pagDerecha{
        height: 320px;
    }

    #pagDerecha img{
        height: auto;
    }

    #asha{
        width: 65%;
        left: 22%;
        top: 30%;
    }

    #parti{
        width: 23%;
        bottom: 34%;
    }

    #cam{
        width: 35%;
        left: 63%;
        bottom: 23%;
    }

    #destor{
        width: 22%;
        left: 70%;
        top: 36%;
    }

    #robot{
        width: 70%;
        left: 15%;
        bottom: 2%;
    }

    #asha img{
        height: auto;
    }

    footer div{
        width: 5%;
        height: 19px;

    }

    span{
        margin-top: 0;
        font-size: 15px;
    }

    #face{
        left: 26%;
        top: 14%;
    }
    
    #twi{
        left: 48%;
        bottom: 21%;
    }
    
    #insta{
        left: 70%;
        bottom: 54%;
    }

    footer{
        margin-top: 0px;
    }
}